body {

    background-color: #ecf4f3;
}

hr {
    background-color: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;  
}
img {
	height: 195px;
}
h1,h3 {
	color: #ff7e67;
}
